{
  "report-dir": "coverage",
  "reporter": ["text", "json", "html", "lcov"],
  "all": true,
  "include": [
    "**/*.js",
    "**/*.jsx"
  ],
  "exclude": [
    "cypress/**/*",
    "node_modules/**/*",
    "coverage/**/*"
  ]
}