{# Converted from geneweb/distribution/gw/etc/index.txt #}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <title>Base</title>
  <meta name="robots" content="none">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{ images_prefix }}favicon_gwd.png">
  {# {% include 'css.html.j2' %} #}
</head>
<body{{ body_prop | safe }}>
<div class="container text-center ">
<h1 class="mt-5">{{ t('*choose a genealogy', 0) }}</h1>

<div class="mt-4">
<span>{{ t('*input database', 0) }}[:]</span>

<form class="form-inline d-flex justify-content-center mt-2" method="get" action="{{ prefix }}">
  <input type="hidden" name="lang" value="{{ e.lang }}">
  <input name="b" placeholder="{{ bases_list }}" class="form-control col-8">
  <button type="submit" class="btn btn-outline-secondary ml-2" value="">Ok</button>
</form>

{# TODO find server name and port number #}
<div class="mt-4">
{{ t('*available genealogies', 0) }}[:]<br>
{{ bases_list_links | safe }}
</div>
</div>

<h3 class="text-center mt-4">{{ t('*select lang', 0) }}[:]</h3>
<div class="d-flex flex-wrap justify-content-center col-10 mx-auto">
  {% set templ_param = '&templ=' ~ e.templ if e.templ else '' %}
  <a class="btn btn-outline-secondary" href="?lang=af{{ templ_param }}" title="af">Afrikaans</a>
  <a class="btn btn-outline-secondary" href="?lang=ar{{ templ_param }}" title="ar">العربية</a>
  <a class="btn btn-outline-secondary" href="?lang=bg{{ templ_param }}" title="bg">български</a>
  <a class="btn btn-outline-secondary" href="?lang=br{{ templ_param }}" title="br">brezhoneg</a>
  <a class="btn btn-outline-secondary" href="?lang=ca{{ templ_param }}" title="ca">català</a>
  <a class="btn btn-outline-secondary" href="?lang=co{{ templ_param }}" title="co">corsu</a>
  <a class="btn btn-outline-secondary" href="?lang=cs{{ templ_param }}" title="cs">čeština</a>
  <a class="btn btn-outline-secondary" href="?lang=da{{ templ_param }}" title="da">dansk</a>
  <a class="btn btn-outline-secondary" href="?lang=de{{ templ_param }}" title="de">Deutsch</a>
  <a class="btn btn-outline-secondary" href="?lang=en{{ templ_param }}" title="en">English</a>
  <a class="btn btn-outline-secondary" href="?lang=eo{{ templ_param }}" title="eo">esperanto</a>
  <a class="btn btn-outline-secondary" href="?lang=es{{ templ_param }}" title="es">Español</a>
  <a class="btn btn-outline-secondary" href="?lang=et{{ templ_param }}" title="et">eesti</a>
  <a class="btn btn-outline-secondary" href="?lang=fi{{ templ_param }}" title="fi">suomi</a>
  <a class="btn btn-outline-secondary" href="?lang=fr{{ templ_param }}" title="fr">français</a>
  <a class="btn btn-outline-secondary" href="?lang=he{{ templ_param }}" title="he">עברית </a>
  <a class="btn btn-outline-secondary" href="?lang=is{{ templ_param }}" title="is">íslenska</a>
  <a class="btn btn-outline-secondary" href="?lang=it{{ templ_param }}" title="it">italiano</a>
  <a class="btn btn-outline-secondary" href="?lang=lv{{ templ_param }}" title="lv">Latviešu</a>
  <a class="btn btn-outline-secondary" href="?lang=lv{{ templ_param }}" title="lt">Lietuvių</a>
  <a class="btn btn-outline-secondary" href="?lang=nl{{ templ_param }}" title="nl">Nederlands</a>
  <a class="btn btn-outline-secondary" href="?lang=no{{ templ_param }}" title="no">norsk</a>
  <a class="btn btn-outline-secondary" href="?lang=oc{{ templ_param }}" title="oc">occitan</a>
  <a class="btn btn-outline-secondary" href="?lang=pl{{ templ_param }}" title="pl">polski</a>
  <a class="btn btn-outline-secondary" href="?lang=pt{{ templ_param }}" title="pt">Português</a>
  <a class="btn btn-outline-secondary" href="?lang=pt-br{{ templ_param }}" title="pt-br">Português-do-Brasil</a>
  <a class="btn btn-outline-secondary" href="?lang=ro{{ templ_param }}" title="ro">romaneste</a>
  <a class="btn btn-outline-secondary" href="?lang=ru{{ templ_param }}" title="ru">русский</a>
  <a class="btn btn-outline-secondary" href="?lang=sk{{ templ_param }}" title="sk">slovenčina</a>
  <a class="btn btn-outline-secondary" href="?lang=sl{{ templ_param }}" title="sl">slovenščina</a>
  <a class="btn btn-outline-secondary" href="?lang=sv{{ templ_param }}" title="sv">svenska</a>
  <a class="btn btn-outline-secondary" href="?lang=tr{{ templ_param }}" title="tr">turkish</a>
  <a class="btn btn-outline-secondary" href="?lang=zh{{ templ_param }}" title="zh">中文</a>
</div>
</div>
  <div class="btn-group float-right mt-5 mr-5">
    <span class="align-self-center">GeneWeb v. {{ version }}&nbsp;
    &copy; <a href="https://www.inria.fr/">INRIA</a> 1998-2017 {{ connections }} &nbsp;</span>
    <a href="https://github.com/geneweb/geneweb" class="ml-1" target="_blank" title="GeneWeb sources on GitHub">
    <img src="{{ images_prefix }}logo_bas.png" alt="Logo GeneWeb"></a>
    <a href="https://geneweb.tuxfamily.org/wiki/GeneWeb{% if lang in ['fr', 'de', 'nl', 'ru', 'sv'] %}/{{ lang }}{% endif %}" target="_blank" title="GeneWeb documentation MediaWiki">
    <img src="{{ images_prefix }}logo_bas_mw.png" alt="Logo GeneWeb Mediawiki"></a>
  </div>
</div>
</body>
</html>
